.dark-theme {
  background-color: #121212 !important;
  color: #ffffff !important;

}
.toolBar{
    background-color: rgb(0, 146, 146);
    padding: 0.5em;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}
.menuBtn{
    color: white !important;
}
.inline-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
  }
  
  .inline-menu li {
    margin-right: 10px; /* Adjust*/
  }  
  
  .end-items {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Optional: Center items vertically if needed */
  }
  .spacer{
    flex: 1;
    
  }
