<body [ngClass]="{'dark-theme': darkMode}">
  

<mat-toolbar class="toolBar" [ngClass]="{'dark-theme': darkMode}">
    <ul class="inline-menu">
      <li><button mat-button routerLink="/home" class="menuBtn">Home</button></li>
      <li><button mat-button routerLink="/about" class="menuBtn">About</button></li>
      <!-- Add more list items with buttons or links as needed -->
    </ul>
  
    
    
    <button mat-button [matMenuTriggerFor]="menu" class="menuBtn">Account</button>
    <div class="spacer"></div>
    <div class="end-items">
        <button mat-icon-button (click)="toggleDarkMode()">
            <mat-icon>{{ darkMode ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
        </button>
    </div>
    
  
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openLoginDialog()">Login</button>
      <button mat-menu-item (click)="openSignUpDialog()">Sign Up</button>
    </mat-menu>
  </mat-toolbar>
  
</body>  

