
  .example-container{
    padding: 4em;
    width: 20em;
    height: 20em;
  }
  .close-button{
    position: absolute;
    right: 1em;
    top: 1em;
  }
  .custom-form-field{
    width: 18em;
    margin: 0 auto;
  }
  .loginBtn {
    background-color: #3f4f5a; /* Set the background color */
    color: #ffffff; /* Set the text color */
    padding: 10px 20px; /* Set padding for the button */
    font-size: 16px; /* Set the font size */
    border: none; /* Remove border */
    border-radius: 5px; /* Apply border-radius for rounded corners */
    cursor: pointer; /* Set cursor to pointer for better UX */
    width: 290px;
    margin: 0 auto;
  }
  .loginBtn:hover {
    background-color: #2980b9; /* Change background color on hover */
  }
  /* Styles for the flex container */
.flex-container {
    display: flex;
    justify-content: space-around; /* Adjust the spacing between icons */
    align-items: center; /* Center items vertically */
  }
  
  /* Styles for the icons */
  .logo {
    font-size: 30px; /* Adjust the font size of the icons */
    margin: 0 10px; /* Adjust the margin between icons */
  }
  
  
  